body{
	height: auto;
}

.nav{
	margin: 0px 0px;
}

.form-control{
	width: 350px;
}

.links{
	margin: 0px 20px;
	padding-left: 5px;

}

.links li:hover{
	display: block;
	color: red;
}

.footer{
	margin-left: 450px;
	margin-top: 15px;
	padding: 10px;
}


.middiv{
	margin: 80px 100px 0px 100px;
}

.result{
	margin: 10px 100px 100px 100px;
	}

.col-md-3{
	width: 33%;
	min-height: 60%;
	max-height: 65%;
}

.thumbnail > img{
	width: 120px;
	height: 150px;
}

.thumbnail > .caption > h1{
	font-family: sans-serif, helvetica;
	font-size: 16px;

}

.btn-xs{
	float: right;
}

.rate_audience{
	margin-bottom: 8px;
}
.rate_audience > span{
	font-size: 14px;

}

.rate_critics > span{
	font-size: 14px;
}

.navbar-fixed-bottom{
	padding-left: 450px;
	padding-top: 10px;
	font-family: sans-serif, helvetica;
	font-size: 12px;
	color: #000000;
	display: block;
}
