body{
	background-image: url(film.jpg);
	background-size: 99%;
	width: 900px;
}

.main{
  margin-left:140px;
  background-color: #FFFFFF;
  width: 700px;
  height: 100%;
  position: absolute;
}

.banner{
	width: 700px;
	background-image: url(banner.jpg);
	background-size: 100%;
	height: 180px;
}

.searchBox{
 width: 680px;
 height: 110px;
 border: solid 1px #DCDCDC;
 border-radius: 5px;
 background-color: #FFFFFF;
 filter: alpha(Opacity=80);
 opacity: 0.8;
 box-shadow: solid 5px #000000;
 margin: 10px;
}

#box-search{
	width: 350px;
	height: 35px;
	padding: 3px;
	line-height: 20px;
	margin-left: 90px;
	font-size: 16px;
	font-family: sans-serif, helvetica;
}

#btn-submit{
	border-style: none;
	text-decoration: none;
	outline: none;
	font-family: sans-serif;
	font-size: 14px;
	padding: 9px 35px;
	margin-left: 10px;
	margin-top: 30px;
	border: 1px solid #DCDCDC;;
	border-radius: 3px;
	background-color: #DCDCDC;
}


#btn-submit:hover{
	border-style: none;
	text-decoration: none;
	outline: none;
	font-family: sans-serif;
	font-size: 14px;
	padding: 9px 35px;
	margin-top: 30px;
	margin-left: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 3px;
	background-color: #D3D3D3;
}
.search-result{
	border: solid 1px #D3D3D3;
    margin: 10px;
}

.search-result > img {
	padding: 5px;
	width: 100px;
	height: 150px;

	
	margin: 5px;

}

.search-result > h1 {
	margin: 5px;
	font-family: sans-serif, helvetica;
	font-size: 18px;
	padding: 5px;
}

.search-result > h2{
	font-family: sans-serif, helvetica;
	font-size: 15px;
	margin: 5px;
	padding: 5px;
}

.search-result > h3 {
	margin: 10px;
	font-family: sans-serif, helvetica;
	font-size: 48px;
	float: right;
}

.search-result > h4 {
	margin: 30px 10px;
	font-family: sans-serif, helvetica;
	font-size: 11px;
	float: right;
	position: bottom;
}

.search-result > hr {
	padding: 0px 3px;
	color: #DCDCDC;
}

.searchresultbox{
	border: solid 1px #DCDCDC;
	filter: alpha(Opacity=80);
    opacity: 0.8;
    margin: 10px;

}

.searchresultbox > h1{
    font-family: sans-serif, helvetica;
    font-size: 14px;
    margin-left: 20px;
}

.searchresultbox > h2{
    font-family: sans-serif, helvetica;
    font-size: 18px;
    margin: 0px 15px;
    padding: 5px;
    margin-bottom: 5px;
}

.search-box{
	border: solid 1px #D3D3D3;
	margin: 10px;
	filter: alpha(Opacity=80);
    opacity: 0.8;
    background-color: #DCDCDC; 

}

.search-box p h3{
	font-family: sans-serif, helvetica;
    font-size: 14px;
    margin-left: 20px;
}